@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Quicksand:wght@300;400;500;600&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fdfcfa;
}

/*  --------------------------------------Navbar */

.container-sm {
  padding: 0 1rem 0 1rem;
  width: 100%;
}

.navbar {
    background-color: #2b241f;  
}

.navbar-nav .nav-item .nav-link {
    color: #fafaf9;
}

.nav-item {
    font-weight: 600;
}

.intro-name, .navbar-brand {
    color: #ad7006;
}

.navbar-brand {
    font-family: 'Libre Baskerville', serif;
}

.intro {
    background-image: url('../img/background-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 40%);
    z-index: 1;
  }

.nav-resume-btn {
    background-color: #ad7006;
    color: #000;
    font-weight: 600;
    border: 1px;
    margin-left: 5px;
    margin-top: 2px;
}

.nav-resume-btn:hover {
  background-color: #e7ba6b;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #e7ba6b;
}

.navbar-brand:focus, .navbar-brand:hover {
  color:#f4efe9;
}

.navbar-toggler { 
  background-color:#ad7006;
}

.navbar-toggler:focus {
  background-color: #e7ba6b;
  outline: none;
  box-shadow: none;
}

/*  --------------------------------------Intro */

.intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.intro-container {
    width: 100%;
    padding: 1rem 30rem 1rem 5rem;
    margin: 0 auto;
    z-index: 2;

    opacity: 0;
    transform: translateY(100%);
    animation: slide-in 0.5s ease-in forwards;
}

@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.intro-name {
    font-size: 3.5rem;
    word-spacing: 1px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 0;
}

.intro-text {
    font-size: 20px;
    font-weight: 400;
}

.intro-text, .intro-text2 {
    margin: 0 0 1rem 0.3rem;
}

.intro-ul {
    display: flex;
    padding-left: 0.05rem;
}

.intro-text, .intro-text2, .intro-ul {
  color: #2b241f;
}

#web-dev-ul {
    list-style: none;
}

ul.intro-ul li {
    margin-right: 1.5rem;
}

button {
    text-transform: uppercase;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    font-weight: 600;
}

.resume-btn {
    color: #e7ba6b;
    background-color: #2b241f;
}

.resume-btn:hover {
  background-color: transparent;
  color: #2b241f;
}

#about-me-btn {
    background-color: transparent;
    color: #2b241f;
}

#about-me-btn:hover {
  background-color: #2b241f;
  color: #e7ba6b;
}

/*  --------------------------------------About */

.about-section,
.skills-section {
    display: flex;
}

.about-section>* {
    flex: 1;
}

.about-img {
    display: flex;
    align-items: flex-start;
}

.about-img img {
    border-radius: 5%;
    width: 270px; 
    height: auto;
}

.h3-title,
.h5-title {
    text-transform: uppercase;
}

.h3-title,
.skill-div,
.h5-title {
  margin-bottom: 1.5rem;
}

.h3-title {
  color: #2b241f; 
}

.about-details {
    font-size: 15px;
    text-align: justify;
    padding: 0 4rem 4rem 4rem;
    margin: 0 4rem 4rem 4rem;
}

/* --------------------------- Skills */

.section {
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  text-align: left; 
  padding: 0 4rem 4rem 7.8rem;
}

.h5-title {
  color: #ad7006;
}

.skill-highlight {
  background-color: #e7e7e2;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  display: inline-block;
}

/* --------------------------- Portfolio */

.card {
  max-width: 18rem;
  height: 25.5rem;
  border: 2px solid #e0dedb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card-body {
  height: 14rem;
  background-color: #f4efe9;
}

#portfolio .tools {
  margin-top: 1rem;
}

#portfolio .tools, 
#portfolio .links {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-top: 1rem;
}

#portfolio .tools li {
  margin-right: 0.5rem;
  list-style-type: none;
  color: #875005;
}

.card-title {
  color: #2b241f; 
}

.card-img-top {
  object-fit: cover; 
  height: 100%;
  max-height: 11.5rem;
}

.portfolio-img {
  position: relative;
}

.gradient-overlay {
  position: relative;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 1;
}

.portfolio-btn {
  background-color: #ad7006;
  color: #000;
  font-weight: 600;
  border: 1px;
  margin-right: 0.25rem;
}

.portfolio-btn:hover {
  background-color: #e7ba6b;
}

.card-body p {
  height: 3rem;
}

.p-warning {
  font-size: 11px;
}

a {
  color: inherit; 
  text-decoration: none; 
}

/* --------------------------- Contact */

.contact-section {
  font-size: 15px;
  justify-content: center;
  padding: 0 4rem 4rem 7.8rem;
}

.contact-section,
.about-section {
  margin-top: 2rem;
}

.contact-input, 
.contact-message {
  margin-bottom: 1.5rem;
  max-width: 28rem;
}

.contact-message {
  height: 150px;
}

.submit-btn {
  width: 200px;
  color: #e7ba6b;
  background-color: #2b241f;
}

.submit-btn:hover {
  background-color: transparent;
  color: #2b241f;
}

.contact-col {
  padding-right: 7.5rem;
}

.social-icon {
  margin-right: 2%;
}

.social-icon:hover {
  color: #ad7006;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin-left: 2px;
  font-size: 20px;
  color: #2b241f;
}

#contact-modal .modal-header {
  display: flex;
  justify-content: flex-end;
  border-bottom: none;
}

#contact-modal .modal-body,
#contact-modal .modal-footer {
  border-bottom: none;
  border-top: none;
}

#contact-modal .close {
  margin-left: auto;
  border: none;
  background: transparent;
}


/* --------------------------- Footer */

footer {
  width: 100%;
  position: relative;
  background-color: #2b241f;
  margin: 0 auto;
  bottom: 0px;
  padding: 12px;
  color: #f4efe9;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-bottom: 0;
}


/* --------------------------- Media Queries */
@media (max-width: 1200px) {
    .container-sm {
      width: 100%;
      padding: 0 1rem;
    }

    .intro-container {
      padding: 1rem;
      text-align: center;
    }

    .intro-name {
      font-size: 2.5rem;
    }

    .intro-container,
    .intro-text,
    .intro-text2 {
      margin: 0;
    }

    ul.intro-ul {
        justify-content: center;
        margin-left: 1rem;
    }

    ul.intro-ul li {
      margin-right: 1.5rem;
    }
    
    .about-section {
      margin: 2rem;
    }
    .about-details,
    .about-img {
      margin: 0;
    }

    .section,
    .contact-section {
      padding-left: 4rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .contact-col {
      padding-right: 0;
    }

    #portfolio .tools,
    #portfolio .links {
      justify-content: center;
      align-items: center;
    }

    .nav-resume-btn {
      margin: 0;
    }
  }

  @media (max-width: 768px) {

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .intro-name {
      font-size: 2rem;
    }

    .about-section {
      flex-direction: column;
      align-items: center;
    }

    .about-section>* {
      width: 100%;
    }

    .about-img {
      align-items: center;
    }

    .h3-title {
      text-align: center;
    }

    .about-details {
      margin: 0;
      padding: 0 1rem;
      text-align: center;
    }

    .about-img {
        text-align: center;
        display: block;
    }
  }

  @media (max-width: 510px) { 
      .section {
        padding: 0;
        margin: 0;
      }

      .about-img img {
        width: 150px;
      }

      .submit-btn {
        width: 100px;
      }  
      
      #portfolio .col {
        padding: 0!important;
      }

      .card {
        width: 14rem;
        height: 24.5rem;
      }

      #skills {
        padding: 1rem;
      }

      .intro-container {
        width: 99%;
      }

      .container-sm {
        width: 99%
      }
    }
   
    
    
    
    
    
  



  
